
* {
    margin: 0;
    bottom: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat";
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  .box {
    
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


height: 1024px;


  }
  .title {
padding-top: 218px;
margin-left: 120px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
display: flex;
align-items: center;

color: #FFFFFF;
  }
  .text {
    padding-top: 32px;
    padding-bottom: 44px;
    margin-left: 120px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
display: flex;
align-items: center;

color: #FFFFFF;
  }
.box__button {
    margin-left: 120px;
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
border-radius: 30px;
border: none;
}
.footer {
    background: #000915;
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;

}

.content__item-1 {
    width: 378px;
height: 300px;
background-image: url(./image/play1.jpg);
background-repeat: no-repeat;
border-radius: 18px;

}
.content__item-2{
    width: 378px;
height: 300px;
    background-image: url(./image/play2.jpg);
    background-repeat: no-repeat;
    border-radius: 18px;

}
.content__item-3 {
    width: 378px;
    height: 300px;
    background-image: url(./image/play3.jpg);
    background-repeat: no-repeat;
    border-radius: 18px;
}
.content__link {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
padding-left: 32px;
padding-top: 236px;
}